.video-js .vjs-video-big{
  width: 6em;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  word-break: initial;
}


.video-js .vjs-video-big .vjs-icon-placeholder::before{
  content: '视频放大';
}
.video-js .vjs-video-small .vjs-icon-placeholder::before{
  content: '视频还原';
  cursor: pointer;
}

.vjs-error .vjs-error-display .vjs-modal-dialog-content{
  font-size: 0px;
}